*.iml
*.ipr
*.iws
.classpath
.project
.settings
target/
TestScreenshots/
TestExecutionLogs/
TestExecutionReports/
lib/
logs/
work/
/bin/
/${application.home}/
.pmd
.pmdruleset.xml
.idea/
.DS_Store
.user.*/
CucumberRunnerClass.java
Config.properties
/.vs/slnx.sqlite

/.vs/VSWorkspaceState.json
/.vs/GRIDAutomation/v15/.suo
/utility/AutomationUtil/.vs/AutomationUtil/v15
/utility/AutomationUtil/AutomationUtil/bin/Debug
/utility/AutomationUtil/AutomationUtil/obj/Debug
/utility/AutomationUtil/packages/OctoPack.3.6.3
